.aboutme{
    min-height: 40vh;
    padding: 5rem 2rem;
    margin-bottom: 6rem;
    gap: 50px;
}

.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-h1{
    border-bottom: 7px solid rgb(223, 219, 219);
}

.aboutme p {
    text-align: center;
}