@font-face {
	font-family: 'Minecraft';
	src: url('../Minecraft.ttf') format('truetype'); /* Ścieżka do pliku czcionki */
	font-weight: normal;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

.app {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 8px;
  background-color: rgb(161, 161, 161);
}
::-webkit-scrollbar-track {
	border-left: NONE;
}
::-webkit-scrollbar-thumb {
	background: rgb(226, 226, 226);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #f7f5f5;
}
