.technology{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.technology h1{
    align-self: center;
}

.technologies{
    padding: 6rem 1rem;
    display: flex;
    justify-content: center;
}
